* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
    margin-top: 0;
}

form {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

label {
  display: block;
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  height: 40px;
  width: 100%;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="submit"] {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, #a445b2, #fa4299);
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: linear-gradient(to right, #fa4299, #a445b2);
}
